html {

    background-color: var(--backgroundBack);
    color: var(--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: 0;
    overflow-x: hidden;
    
    
}

body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.backgroundImg {
    
    position: absolute;
    
}

.header {
    
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: var(--background);
    
}

.innerHeader {
    
    max-width: 1000px;
    margin: auto;
}

.title {

    font-weight: 100;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;

    animation: fade 0.8s;
    transition: 0.1s;
    text-align: left;
}
.title:hover {
    /*transform: scaleX(1.1);*/
    font-weight: 500;
    cursor: pointer;
}

.menu {

    margin-left: 30px;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 0px;

    animation: fadeMenu 1s;
    transition: 0.1s;
    text-align: left;
    transition: 0.4s;
}
.menu:hover {

    cursor: pointer;
    opacity: 0.5;
    transform: translateX(10px);
}

@keyframes fade {
    
    from {
        opacity: 0;
        transform: translateY(30px);
        transition: 0.4s;
    }

    to {
        opacity: 100;
    }
}

@keyframes fadeMenu {
    
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 100;
    }
}


.Scroll {

    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    opacity: 0.5;
    margin-left: 30px;

    animation: scrollText 3.5s;
    animation-iteration-count: infinite;
}

@keyframes scrollText {

    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }


}


:root {
	--background: white;
	--color: rgb(21, 21, 21);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(21, 21, 21);
        --backgroundBack: black;
		--color: white;
	}
}