body {
    font-family: monospace;
    margin: 0;
    overflow-y: hidden;
    /*background-color: rgb(13, 24, 32);*/
    background-color: rgb(230, 238, 230);
    color: white;
    font-size: clamp(15px, 1.8vw, 20px);
}

.background {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* ensure it's behind everything */
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    border: 1.5px solid antiquewhite;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    scrollbar-width: none;

    /*transition: 0.4s;*/

    /*animation: fadeIn 0.4s;*/
}

@keyframes fadeIn {
    from {

        opacity: 0;
        transform: translateY(20px);
    }
}

a {
    text-decoration: none;
    color: white;
}

h1, .back {

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav {

    display: flex;
    justify-content: space-between;
}
.list {
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}
.list:hover {

    color: black;
    /*background-color: lightblue;*/
    background-color: rgb(153, 201, 149);
}

.back:hover {

    color: black;
    /*background-color: lightblue;*/
    background-color: rgb(153, 201, 149);
}

@media (max-width: 1545px) {

    body {
        font-size: clamp(15px, 1.8vw, 20px);
    }

    .items {
        flex-direction: column;
        align-items: center;
    }

    .content {

        overflow-y: scroll;
    }

    .icon {
        height: 100%;
        width: 100%;
    }

    .text {
        margin-left: 0;
        margin-top: 30px;
        font-size: 0.9rem;
    }

    .icon {
        width: 50vw;
        max-width: 150px;
        margin-top: 30px;
    }
}


@media (min-width: 1545px) and (min-height: 600px) {
    .content {
        margin: 40px auto;
        width: 40vw;
        height: 30vw;
        padding: 20px;

        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body {
        font-size: clamp(15px, 1.8vw, 20px);
    }

    .icon {
        height: 100%;
        width: 100%;
    }

    .text {
        font-size: clamp(13px, 2vw, 20px);
        margin-top: 0;
        margin-left: clamp(8px, 1vw, 20px);
    }

    .inner {
        margin-left: clamp(8px, 1vw, 20px);
        margin-top: clamp(8px, 1vw, 20px);
        margin-bottom: clamp(8px, 1vw, 20px);
    }
}